
- name: Configuration Deployment
  hosts: PA-VM-4
  gather_facts: no

  collections:
    - paloaltonetworks.panos


  tasks:

    
    

    - name: create IKE gateway
      panos_ike_gateway:
        api_key: 'LUFRPT1ONklQVmZBYTNLa3kreE9iRUNvQzNzRGxUenM9ZW5JMkJ4RXVZaWE5VjcrWXhGaWZvZjVjOTh4Z2NVQTN1ZEdPOFFUaXI4bHN6N09Jb3pia0RmTFpwd2YwdlE0dw=='
        ip_address: '192.168.10.3'
        name: 'Ike-GW-2'
        version: 'ikev2'
        interface: 'ethernet1/1'
        local_ip_address: '192.168.13.101/24'
        local_ip_address_type: 'ip'
        peer_ip_value: '192.168.13.104'
        pre_shared_key: 'c1sc0123'
        ikev2_crypto_profile: 'Ike-Crypto'
        enable_liveness_check: 'True'
        liveness_check_interval: '5'
        state: 'present'



    - name: create tunnel interface
      panos_tunnel:
        api_key: 'LUFRPT1ONklQVmZBYTNLa3kreE9iRUNvQzNzRGxUenM9ZW5JMkJ4RXVZaWE5VjcrWXhGaWZvZjVjOTh4Z2NVQTN1ZEdPOFFUaXI4bHN6N09Jb3pia0RmTFpwd2YwdlE0dw=='
        ip_address: '192.168.10.3'
        if_name: 'tunnel.6'
        vr_name: 'VR'
        zone_name: 'S2svpn'



    - name: create ipsec tunnel
      panos_ipsec_tunnel:
        api_key: 'LUFRPT1ONklQVmZBYTNLa3kreE9iRUNvQzNzRGxUenM9ZW5JMkJ4RXVZaWE5VjcrWXhGaWZvZjVjOTh4Z2NVQTN1ZEdPOFFUaXI4bHN6N09Jb3pia0RmTFpwd2YwdlE0dw=='
        ip_address: '192.168.10.3'
        name: 'Ipsec-tunnel-2'
        tunnel_interface: 'tunnel.6'
        ak_ike_gateway: 'Ike-GW-2'
        ak_ipsec_crypto_profile: 'Ipsec-Crypto'
        state: 'present'



    - name: create default static route
      panos_static_route:
        api_key: 'LUFRPT1ONklQVmZBYTNLa3kreE9iRUNvQzNzRGxUenM9ZW5JMkJ4RXVZaWE5VjcrWXhGaWZvZjVjOTh4Z2NVQTN1ZEdPOFFUaXI4bHN6N09Jb3pia0RmTFpwd2YwdlE0dw=='
        ip_address: '192.168.10.3'
        virtual_router: 'VR'
        name: '10.1.205.0-24'
        destination: '10.1.205.0/24'
        interface: 'tunnel.6'
        nexthop: 'none'
        nexthop_type: 'none'













        




    



  




    



      





        


